<extend name="Public/base" />
<block name="main-content">
    <div class="page-content">
        <!--主题-->
        <div class="page-header">
            <h1>
                您当前操作
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    修改客户信息
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal memberform" name="member_list_edit" method="post" action="{:U('ref_runedit')}">
                    <input type="hidden" name="member_list_id" id="member_list_id" value="{$member_list_edit.member_list_id}" />
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 客户姓名：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="member_list_name" id="member_list_username" value="{$member_list_edit.member_list_name}" placeholder="输入客户姓名" class="col-xs-10 col-sm-4" required/>
                            <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填，用户名必须是以字母开头，数字、符号组合</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 性别：  </label>
                        <div class="col-sm-10">
                            <label>
                                <input name="member_list_sex" <if condition="$member_list_edit['member_list_sex'] eq 1">checked</if> type="radio" value="1" class="ace" />
                                <span class="lbl"> 先生 </span>&nbsp;&nbsp;
                            </label>
                            <label>
                                <input name="member_list_sex" <if condition="$member_list_edit['member_list_sex'] eq 2">checked</if> type="radio" value="2" class="ace" />
                                <span class="lbl"> 女士 </span>
                            </label>
                            
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 手机号码：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="member_list_tel" id="member_list_tel" value="{$member_list_edit.member_list_tel}"  placeholder="输入手机号码" class="col-xs-10 col-sm-4" required/>
                            <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>只能填写数字</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 客户生日：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="member_list_birth" value="{$member_list_edit['member_list_birth']|date='Y-m-d',###}"  class="col-xs-10 col-sm-4" />
                            
                        </div>
                    </div>
                    <div class="space-4"></div>
                    
<!--                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> FF：  </label>
                        <div class="col-sm-10">
                            <label>
                                <input name="isFF" <if condition="$member_list_edit['isff'] eq 1">checked</if> type="radio" value="1" class="ace" />
                                <span class="lbl"> 是 </span>&nbsp;&nbsp;
                            </label>
                            <label>
                                <input name="isFF" <if condition="$member_list_edit['isff'] eq 0">checked</if> type="radio" value="0" class="ace" />
                                <span class="lbl"> 否 </span>
                            </label>
                            
                        </div>
                    </div>
                    <div class="space-4"></div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 预算：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="bugdet" value="{$member_list_edit['bugdet']}"  class="col-xs-10 col-sm-4" />
                            
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> N：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="n" value="{$member_list_edit['n']}"  class="col-xs-10 col-sm-4" />
                            
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> AMP：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="amp" value="{$member_list_edit['amp']}"  class="col-xs-10 col-sm-4" />
                            
                        </div>
                    </div>
                    <div class="space-4"></div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 备注：  </label>
                        <div class="col-sm-10">
                            <textarea  name="member_list_remark" cols="20" rows="4" class="col-xs-10 col-sm-4 limited"   id="form-field-12"  maxlength="125">{$member_list_edit.member_list_remark}</textarea>
                            <input type="hidden" name="maxlengthone" value="125" />
                            <span class="help-inline">&nbsp;&nbsp;还可以输入 <span class="middle charsLeft"></span> 个字符</span>
                        </div>
                    </div>
                    <div class="space-4"></div>
<!--                    <div class="form-group">
                        
                        <label class="col-sm-2 control-label no-padding-right productLabel" for="form-field-1"> 购买产品：  </label>
                        <foreach name='member_products' item='member_product'>
                        <div class="col-sm-10 productDiv" style='padding-top: 3px;border: 1px gray dashed;margin-bottom: 15px;' >
                            <div style="float: right;top:15px">
                                <a class="btn btn-danger delBtn" style="height: 30px;line-height: 10px;">删除</a>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <label class="col-sm-2" style="margin-bottom: 0;">产品名称:</label>
                                <select name="product[product_id][]">
                                    <foreach name="products" item="product">
                                        <option <if condition="($member_product['product_id']==$product['product_list_id'])">selected</if> value="{$product['product_list_id']}" >{$product['product_list_name']}</option>
                                    </foreach>
                                </select>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <label class="col-sm-2" style="margin-bottom: 0">总金额:</label>
                                <input name="product[total_price][]" value="{$member_product['total_price']}">
                                
                            </div>
                            <div style="margin-bottom: 10px;">
                                <label class="col-sm-2" style="margin-bottom: 0">开始时间:</label>
                                <input name="product[start_time][]" value="{$member_product['start_time']|date='Y-m-d',###}">
                                <span class="help-inline">&nbsp;&nbsp;格式:2017-01-01</span>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <label class="col-sm-2" style="margin-bottom: 0">结束时间:</label>
                                <input name="product[end_time][]" value="{$member_product['end_time']|date='Y-m-d',###}">
                                <span class="help-inline">&nbsp;&nbsp;格式:2017-01-01</span>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <label class="col-sm-2" style="margin-bottom: 0">购买时间:</label>
                                <input name="product[addtime][]" value="{$member_product['addtime']|date='Y-m-d',###}" readonly>
                            </div>
                        </div>
                        </foreach>
                        <div class="col-md-offset-2" style="clear: both">
                            <a class="btn btn-primary addBtn" style="height: 30px;line-height: 10px;">添加</a>
                        </div>
                    </div>-->
                    <div class="space-4"></div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <a class="btn backBtn" >
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                返回
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.page-content -->
</block>
<block name="scripts">
    <script>
        $(function () {
            var html = "{$html}";
            console.log(html);
            // 添加
            $(".addBtn").click(function(){
                if($(".productDiv").length>0){
                    $(".productDiv").last().after(html);
                    $(".productDiv").last().addClass("col-md-offset-2")
                }else{
                    $(".productLabel").after(html);
                }
                
            });
            // 初始化
            $(".productDiv").addClass("col-md-offset-2");
            
            // 删除
            $(document).on("click", ".delBtn", function(){
                if($(".productDiv").length<=1){
                    return false;
                }
                var $this = $(this);
                layer.confirm("确认删除此信息吗?",{btn:['确定','取消']},function(){
                    $this.parents(".productDiv").remove();
                    layer.closeAll();
                });
                
            });
            
            var time = new Date();
            var year = time.getFullYear();
            var today = time.toLocaleDateString();
            $("input[name='member_list_birth']").datetimepicker({
                step: 10,
                format: "Y-m-d",
                timepicker: false,
                todayButton: true,
                yearStart: 1970,
                yearEnd: year,
                maxDate: today,
                scrollMonth: false,
            });
            $.datetimepicker.setLocale('ch');

            
        })
    </script>
</block>
