<extend name="Base:base" />
<block name="title">添加sitPlan</block>
<block name="head">
    <link href="/Public/Home/Mrd/css/opAdd.css" rel="stylesheet">
</block>
<block name="content">
    <a class="rewrite" href="javascript:;">重新填写</a>
    <form class="form-horizontal" role="form">
        <input name="client_id" value="" type="hidden">
        <div class="form-group">
            <label class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
                <input type="text" name="name"  class="form-control completed" placeholder="输入用户姓名">
                <p class="form-control-static nameP" ></p>
            </div>
        </div>
        <div class="form-group sex-group">
            <label class="col-sm-2 control-label">性别</label>
            <p class="form-control-static sexP" ></p>
            
            <lable class="checkbox-inline">
                <input type="radio" name="sex" value="1" checked>男
            </lable>
            <lable class="checkbox-inline">
                <input type="radio" name="sex" value="2" >女
            </lable>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">联系方式</label>
            <div class="col-sm-10">
                <input type="number" name="tel" class="form-control" placeholder="输入用户手机号">
                <p class="form-control-static telP" ></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">生日</label>
            <div class="col-sm-10">
                <input type="date" name="birth" class="form-control" placeholder="选择用户生日">
                <p class="form-control-static birthP" ></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">FF</label>
            <lable class="checkbox-inline">
                <input type="radio" name="isFF" value="1" checked>是
            </lable>
            <lable class="checkbox-inline">
                <input type="radio" name="isFF" value="0" >否
            </lable>
        </div>
        <div class="form-group bugdet-group">
            <label class="col-sm-2 control-label">Bugdet</label>
            <div class="col-sm-10">
                <input type="number" name="bugdet" class="form-control" placeholder="预算">
            </div>
        </div>
        <div class="form-group">
            <div class=" col-sm-10" >
                <a href="javascript:;" class="btn btn-block btn-primary submitBtn ">提交</a>
            </div>
        </div>
    </form>
</block>
<block name="script">
    <script src="/Public/flatUI/js/typeahead.js"></script>
    <script>
        $(function () {
            // 联想客户
            $(".completed").typeahead({
                source: function (query, process) {
                    return $.ajax({
                        url: '/Home/Mrd/ajaxGetClient',
                        type: 'post',
                        data: {query: query},
                        success: function (result) {
                            var array = [];
                            clients = [];
                            if(result){
                                $.each(result,function(k,v){
                                    clients[v] = k;
                                    array.push(v);
                                })
                                process(array);
                            }
                        },
                    });
                },
                afterSelect:function(item){
                    var client_id = clients[item];
                    $.ajax({
                        type:"get",
                        url:"/Home/Mrd/ajaxGetDetail",
                        data:{client_id:client_id},
                        success:function(res){
                            $("input[name='name']").hide();
                            $("input[name='tel']").hide();
                            $("input[name='birth']").hide();
                            $(".sex-group .checkbox-inline").hide();
                            $(".nameP").html(res.member_list_name);
                            $(".sexP").html(res.member_list_sex);
                            $(".telP").html(res.member_list_tel);
                            $(".birthP").html(res.member_list_birth);
                            $("form p").show();
                            $("input[name='client_id']").val(res.member_list_id);
                            $(".rewrite").show();
                        }
                    });
                }
            });
            
            // 重新填写表单
            $(document).on("click",".rewrite",function(){
                $("input[name='client_id']").val("");
                $("input[name='name']").val("");
                $("form p").hide();
                $(".sex-group .checkbox-inline").show();
                $(".form-group input[type='text'],.form-group input[type='date'],.form-group input[type='number']").show();
                $(this).hide();
            });
            
            $("input[name='isFF']").change(function(){
                var isFF = $(this).val();
                if(isFF==1){
                    $(".bugdet-group").show();
                }else{
                    $(".bugdet-group").hide();
                }
                
            });
            
            $(".submitBtn").click(function () {
                var data = {};
                var client_id = $("input[name='client_id']").val();
                data["isFF"] = $("input[name='isFF']:checked").val();
                data["bugdet"] = $("input[name='bugdet']").val();
                if(client_id){
                    data["client_id"] = client_id;
                    $.ajax({
                        type:"post",
                        data:data,
                        url:"/Home/Mrd/opAdd",
                        success:function(res){
                            if(res.status){

                            }else{

                            }
                        }
                    });
                }else{
                    data["name"] = $("input[name='name']").val();
                    data["sex"] = $("input[name='sex']:checked").val();
                    data["tel"] = $("input[name='tel']").val();
                    data["birth"] = $("input[name='birth']").val();
                    $(".form-group").removeClass("has-error");
                    var telReg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                    var nameReg = /[^\u4e00-\u9fa5]/;

                    if(!data['name']){
                        $("input[name='name']").parents(".form-group").addClass("has-error");
                        layer.open({
                            content: '请输入合法姓名',
                            skin: 'msg',
                            time: 1.5 //2秒后自动关闭
                        })
                    }else if(!telReg.test(data['tel'])){
                        $("input[name='tel']").parents(".form-group").addClass("has-error");
                        layer.open({
                            content: '请输入合法手机号',
                            skin: 'msg',
                            time: 1.5 //2秒后自动关闭
                        })
                    }else if(!data['birth']){
                        $("input[name='birth']").parents(".form-group").addClass("has-error");
                        layer.open({
                            content: '请输入用户生日',
                            skin: 'msg',
                            time: 1.5 //2秒后自动关闭
                        })
                    }else{
                        $.ajax({
                            type:"post",
                            data:data,
                            url:"/Home/Mrd/opAdd",
                            success:function(res){
                                if(res.status){
                                    layer.open({
                                        content: '添加成功',
                                        skin: 'msg',
                                        time: 1.5 //2秒后自动关闭
                                    })
                                    setTimeout(function(){
                                        location.href="/Home/Mrd/op"
                                    },1500)
                                }else{
                                    layer.open({
                                        content: '添加s',
                                        skin: 'msg',
                                        time: 1.5 //2秒后自动关闭
                                    })
                                    setTi
                                }
                            }
                        });
                    }
                }
            });
        })
    </script>
</block>